@import "../../../../../../styles/variables.scss";

.ValueControls {
    display: flex;
    flex-wrap: wrap;
    .ValueControls__item {
        border: 1px solid #f6f1eb;
        background-color: #fffcf8;
        padding: 9px $base * 6;
        margin-right: $base * 2;
        margin-bottom: $base * 2;
        font-size: $base * 4;
        user-select: none;
        color: #c4c4c4;
        cursor: pointer;
    }

    .ValueControls__item__checked {
        color: #000000;
        border-color: #000000;
    }
}
