@import '../../../../styles/variables.scss';

.IncDecControl {
    display: flex;
    
    .IncDecControl__Increment {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #949494;
        width: $base*11;
        height: $base*11;
        user-select: none;
        cursor: pointer;
    }

    .IncDecControl__Value {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #949494;
        width: $base*14;
        height: $base*11;
        margin: 0 $base;
        user-select: none;
    }

    .IncDecControl__Decrement {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #949494;
        width: $base*11;
        height: $base*11;
        user-select: none;
        cursor: pointer;
    }
}